
@{
    ViewData["Title"] = "Result";
}

<h1>Result</h1>
<div class="row">
    <div class="col-sm-12">
        <ul>
            <li>Token : @ViewBag.AccessToken</li>
            <li>RefreshToken : @ViewBag.RefreshToken</li>
            <li>ExpiresIn : @ViewBag.ExpiresIn</li>
            <li>ApiDomain : @ViewBag.ApiDomain</li>
            <li>TokenType : @ViewBag.TokenType</li>
        </ul>
    </div>
</div>
